.fadeIn{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: fadein;
		-webkit-animation-name: fadein;

	 }
	@keyframes fadein {
		from{
			opacity: 0;
		 }
		to{
			opacity: 1;
		 }
	}
