#Header {
    position: relative;
}

#Action_bar{
  display: grid;
  background-color: #331680 !important;
  color: #fff !important;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}

#Action_bar .contact_details{
  display: grid;
  grid-auto-flow: column;
  float: left;
}

#Action_bar .social{
  display: grid;
  grid-auto-flow: column;
}

li {
  list-style: none;
}

#Action_bar .contact_details a, #Action_bar .contact_details {
    color: #fff !important;
    text-decoration: none;
}
