#Header {
    position: relative;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
user agent stylesheet
header {
    display: block;
}
body {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0px;
}
body, button, span.date_label, .timeline_items li h3 span, input[type="submit"], input[type="reset"], input[type="button"], input[type="text"], input[type="password"], input[type="tel"], input[type="email"], textarea, select, .offer_li .title h3 {
    font-family: "Open Sans", Arial, Tahoma, sans-serif;
}
body, ul.timeline_items, .icon_box a .desc, .icon_box a:hover .desc, .feature_list ul li a, .list_item a, .list_item a:hover, .widget_recent_entries ul li a, .flat_box a, .flat_box a:hover, .story_box .desc, .content_slider.carouselul li a .title, .content_slider.flat.description ul li .desc, .content_slider.flat.description ul li a .desc, .post-nav.minimal a i {
    color: #626262;
}
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
body {
    line-height: 1;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*::selection {
    background-color: #0095eb;
    color: white;
}
::selection {
    color: #fff;
}

.header-classic #Action_bar, .header-fixed #Action_bar, .header-plain #Action_bar, .header-split #Action_bar, .header-stack #Action_bar {
    background-color: #292b33;
}
.header-classic #Action_bar {
    position: static;
    background-color: #2C2C2C;
}
.header-classic #Action_bar, .header-fixed #Action_bar, .header-plain #Action_bar, .header-split #Action_bar, .header-stack #Action_bar {
    background-color: #331680 !important;
    color: #fff !important;
}
#Action_bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 30;
    line-height: 21px;
}

@media only screen and (max-width: 1239px) and (min-width: 960px)
.section_wrapper, .container, .with_aside .content_wrapper {
    max-width: 940px;
}
.section_wrapper, .container {
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
}

#Action_bar .column {
    margin-bottom: 0;
    overflow: hidden;
}
.one.column {
    width: 98%;
}
.column, .columns {
    float: left;
    margin: 0 1% 40px;
}

#Action_bar .contact_details {
    color: #bbbbbb;
}
#Action_bar .contact_details {
    float: left;
    color: rgba(255,255,255,0.5);
}
#Action_bar .contact_details a, #Action_bar .contact_details {
    color: #fff !important;
}
ul {
    list-style: none outside;
}
ol, ul {
    list-style: none;
}

.header-classic #Action_bar .contact_details li, .header-classic #Action_bar .social, .header-classic #Action_bar .social-menu {
    padding: 12px 0;
}
#Action_bar .contact_details li {
    display: inline-block;
    margin-right: 10px;
    padding: 20px 0;
}
.header-classic #Action_bar li, .header-classic #Action_bar a, .header-fixed #Action_bar li, .header-fixed #Action_bar a, .header-plain #Action_bar li, .header-plain #Action_bar a, .header-split #Action_bar li, .header-split #Action_bar a, .header-stack #Action_bar li, .header-stack #Action_bar a {
    color: #fff !important;
}
