#Header {
    position: relative;
}

.js .animate-box {
    opacity: 1;
}

.page-inner{
 position: relative;
}

#Action_bar{
  display: grid;
  background-color: #d01d1a !important;
  color: #fff !important;
  grid-auto-flow: column;
  grid-template-columns: 90% 5%;
  justify-content: space-between;
  padding-top: .5%;
}

#Action_bar .contact_details{
  display: grid;
  grid-auto-flow: column;
  float: left;
  justify-content: space-around;
}

#Action_bar .phone{
  display: flex;
}

#celular .icon-mobile{
  padding-top: 2px;
}

#celular{
  display: flex;
}

#Action_bar .icon-phone {
  vertical-align: middle;
  padding: 1%;
}


#Action_bar .social{
  display: grid;
  grid-auto-flow: column;
}

li {
  list-style: none;
}

#Action_bar .contact_details a, #Action_bar .contact_details {
    color: #fff !important;
    text-decoration: none;
}

.social a{
  color: white;
}

.logoCortinas{
  border-radius: 15%;
  width: 50%;
}

.gtco-nav {
    padding: 5px 0;
    position: relative;
}



.gtco-nav #gtco-logo {
    text-align: right;
}

#gtco-logo img{
  height: 50px;
  margin: auto;
}

.bg-dark {
    background-color: inherit !important;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgba(4, 4, 4, 0.7);
}

.navbar-dark .navbar-nav .nav-link {
    color: inherit;
    font-size: initial;
    font-family: inherit;
}

.navbar-dark .navbar-toggler {
    color: #1c1c1c;
    border-color: #1c1c1c;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #6f6e6e;
    border: 1px solid #1c1c1c;
    border-radius: .25rem;
}

.navbar ul li a {
    font-size: 16px;
    padding: 30px 10px;
    color: rgba(4, 4, 4, 0.7);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.navbar ul li.btn-cta a span {
    border: 2px solid rgba(0, 0, 0, 0.42);
    padding: 4px 20px;
    color: #d9364a;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
}

.nav-link{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.nav-item:not(.btn-cta){
  padding-top: 6px !important;
}

.collapse:not(.show) {
    display: none;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

#contenedor{
  padding: 1em 0;
}

.gtco-section{
  padding: 0px;

}

#gtco-footer{
    padding: 1em 0;
    clear: both;
    position: relative;
}

#gtco-footer .copyright {
    color: #b3b3b3;
    padding-top: 0;
    margin-top: 0;
    border-top: 1px solid #f2f2f2;
}

.gtco-heading {
    margin-bottom: 1em;
}

.container-grid{
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-gap:5px;
    justify-content: center;
}
.item a{
  max-width: 100%;
}

.level-1{
  grid-row-end: span 3;
}
.level-2{
   grid-row-end: span 2;
}
.level-3{
   grid-row-end: span 1;
}
.fh5co-project-item {
margin-bottom: 0px;
}
.fh5co-project-item figure {
    height: auto;
}

.fh5co-text p{
  text-align: justify;
}

.fh5co-project-item .fh5co-text {
    padding: 0px 15px 10px 15px;
}

#gtco-features, #gtco-features-2, #gtco-products, #gtco-services, #gtco-subscribe, #gtco-footer, .gtco-section {
  padding-bottom: 1em !important;
}

@media only screen and (max-width: 950px) and (min-width: 768px){
  #Action_bar .contact_details li.mail {
    display: none;
  }
}

@media only screen and (max-width: 767px) and (min-width: 480px){

   body {
      font-size: 13px;
      line-height: 19px;
  }

  #Action_bar .contact_details #teleFijo {
    display: none;
  }

  #Action_bar .contact_details li.mail {
    display: none;
  }

  .container-grid{
      grid-template-columns: repeat(1,250px) !important;
  }
}

@media only screen and (max-width: 480px){

   body {
      font-size: 13px;
      line-height: 19px;
  }

  #Action_bar {
    display: grid;
    background-color: #331680 !important;
    color: #fff !important;
    grid-auto-flow: column;
    grid-template-columns: max-content;
    justify-content: center;
    padding-top: 0;
  }

 #Action_bar #celular{
   justify-content: center;
 }

  #Action_bar .contact_details{
    display: grid;
    grid-auto-flow: row;
  }

  #Action_bar .contact_details li.mail{
    display: none;
  }

  #Action_bar .contact_details #teleFijo{
    display: none;
  }

  #gtco-logo img{
    height: 10%;
    margin: auto;
  }

  .container-grid{
      grid-template-columns: repeat(1,250px) !important;
  }

}
