body{
  background: #f8f9fa!important;
}

/*---Header -- */
#Header{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 95% 5%;
  background-color: #d01d1a !important;
  color: #fff !important;
  align-items: center;
}

#Header li{
  list-style: none;
}

#Header a{
  color: white;
}

#Header a:hover{
  text-decoration: none;
}

#Header .social{
  padding: 0;
}

.contacto_detalle{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 33% 17% 14% 30%;
  justify-content: space-between;
}

#teleFijo .phone{
  display: flex;
  grid-auto-flow: column;
}

/*--- Fin Header -- */

/*  Menu */

#imgLogo {
 height: 60px;
}

.navbar{
  padding: 0 10% 0 7%;
}

/*  Fin Menu */

/*Contenedor*/

#contenido h2{
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: 300;
  color: #000;
  position: relative;
}

#contenido p {
  font-size: 20px;
  line-height: 1.5;
  color: gray;
}

#proveedores img{
   width: 200px;
}

.card-columns {
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
}

.contacto li{
    list-style: none;
}

.contacto a:hover{
  text-decoration: none;
}

/* Fin Contenedor*/

/*Footer*/

#footer h3{
  margin-bottom: 15px;
  font-weight: bold !important;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  border-top: 1px solid #d6d6d657;
  padding-top: 8px;
}


#footerContacto{
  list-style: none;
}

#footerContacto a:hover{
  text-decoration: none;
}
/* Fin Footer*/

@media only screen and (max-width: 1014px) and (min-width: 790px){
/*---Header -- */

  #correo{
    display: none;
  }

  .contacto_detalle{
    grid-template-columns: 43% 25% 25% 0%;
  }

/*--- Fin Header -- */


}

@media only screen and (max-width: 789px) and (min-width: 650px){
/*---Header -- */
  #correo{
    display: none;
  }

  #teleFijo2 {
    display: none;
  }

  .contacto_detalle{
    grid-template-columns: 53% 15% 25% 0%;
  }

/*--- Fin Header -- */

  /* Contenedor*/
  .card-columns {
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
  }

}

@media only screen and (max-width: 649px) and (min-width: 530px){
/*---Header -- */
  #correo{
    display: none;
  }

  #teleFijo2 {
    display: none;
  }

  .contacto_detalle{
    grid-template-columns: 45% 16% 25% 0%;
    padding: 2px;
  }

  .contacto_detalle .ciudad{
    display: none;
  }
/*--- Fin Header -- */

  /* Contenedor*/
  .card-columns {
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
  }

}

@media only screen and (max-width: 530px) and (min-width: 340px){
/*---Header -- */
  #correo{
    display: none;
  }

  #teleFijo {
    display: none;
  }

  #celular{
   justify-content: center;
   text-align: center!important;
  }

  .contacto_detalle{
    grid-auto-flow: row;
    grid-template-columns: auto;
    justify-content: center;
    padding: 2px;
  }

/*--- Fin Header -- */
/*  Menu */

  #imgLogo {
   height: 40px;
  }

  /* Contenedor*/
  .card-columns {
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
  }
}

@media only screen and (max-width: 339px){
/*---Header -- */
  #correo{
    display: none;
  }

  #teleFijo {
    display: none;
  }

  #celular{
   justify-content: center;
   text-align: center!important;
  }

  .contacto_detalle{
    grid-auto-flow: row;
    grid-template-columns: auto;
    justify-content: center;
    padding: 2px;
  }

  .contacto_detalle .ciudad{
    display: none;
  }

/*--- Fin Header -- */

/*  Menu */

  #imgLogo {
   height: 40px;
  }

  /* Contenedor*/
  .card-columns {
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
  }
}
